<div class="notification">
	<div class="alert alert-{{data.type}}">
		<span>{{data.notice}}
		<span ng-click="cancel()" class=" glyphicon glyphicon-remove  pull-right" ></span></span>
	</div>
</div>
<!--  <h4>{{data.notice}}</h4>
	<button class="btn btn-primary" ng-click='ok()'>OK</button>-->
	
	<!-- <div class="modal-header ">
		<span class="modal-title">{{data.heading}}<span ng-click="cancel()" class="glyphicon glyphicon-remove pull-right" ></span></span>	
	</div> -->
	<!--   alert alert-{{data.type}}-->
	<!-- <div class="modal-footer">
		<button class="btn btn-primary text-center" type="button" ng-click="ok()">OK</button>
	</div> -->