 <!-- Service Ticket under Admin -->
 <div>
 	<div class="row">
 		<div class="col-xs-3 title">Service Tickets</div>
 		<div class="col-xs-9">
 			<button ng-hide="isFTInstaller || isFTOperator" type="button" class="btn btn-default pull-right" ng-click="open('md','openNewServiceTicket.html','',getListOfTickets,$event);" >
 				Open New Service Ticket
 			</button>
 		</div>
 	</div>
	<div class="row margin_top_2perc">
		<div class="col-xs-6 subheader ">Open Tickets ({{totalTickets}})
			<a class="refresh margin_left_58perc" ng-click="openTicketsFilter=!openTicketsFilter"><i
					ng-show="openTicketsFilter" class="glyphicon glyphicon-minus"></i><i
					class="glyphicon glyphicon-plus"
					ng-show="!openTicketsFilter"></i>FILTERS</a>
    	</div>
    	
		<div class="pull-right col-xs-5">
			<div class="col-xs-5 remove_right_padding pull-right">
				<div class="input-group">
					<input type="text" class="form-control" name="search" ng-keyup="fillEventTicketsTable()" ng-keypress="enterKeyEvent($event)"
						placeholder="Search" ng-model="search" autofocus>
					<span ng-click="getListOfTickets()" class="input-group-addon search_btn"><i
						class="glyphicon glyphicon-search"></i></span>
				</div>
			</div>
			
			<div class="col-xs-2 remove_left_right_padding pull-right">
				<div class="btn-group dropdown width_100perc" uib-dropdown uib-keyboard-nav is-open="status1.isopen">
					<button id="records-button" type="button"
						class="btn btn-default form-control" uib-dropdown-toggle class="scrollable-menu">
						<span ng-init="countPerPage =10">{{countPerPage}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span
							class="caret"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="min_width_60perc" aria-labelledby="records-button">
						<li ng-click="countPerPage=10;" role="menuitem"><a href="">10</a></li>
						<li ng-click="countPerPage=20;" role="menuitem"><a href="">20</a></li>
						<li ng-click="countPerPage=50;" role="menuitem"><a href="">50</a></li>
						<li ng-click="countPerPage=100;" role="menuitem"><a href="">100</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="filterPanel" uib-collapse="!openTicketsFilter" >
	   	<div class="row">
		    <div class="col-xs-3 width_20perc">
		    	<label class="title_in_filter col-xs-12 remove_left_right_padding">Device Types</label>
		    	<div class="col-xs-12 remove_left_right_padding">
			    	<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status2.isopen">
						<button type="button" class="btn btn-default form-control" uib-dropdown-toggle>
							<span class="pull-left">{{selectedDeviceType.name}}</span>&nbsp;<span
								class="pull-right caret dropdown_caret_in_filter"></span>
						</button>
						<ul uib-dropdown-menu role="menu" aria-labelledby="records-button"
							class="scrollable-menu">
							<li
								ng-click="setDeviceType()"
								role="menuitem"><a href="">All Devices</a></li>
							<li ng-repeat="device in deviceTypes"
								ng-click="setDeviceType(device);"
								role="menuitem"><a href="">{{device.name}}</a></li>
						</ul>
					</div>
				</div>
		    </div>
		    <div class="col-xs-3 width_20perc"  ng-show="isFTAdmin || isFTSupervisor || isFTCR || isFTOperator">
		    	<label class="title_in_filter col-xs-12 remove_left_right_padding">Customers</label>
		    	<div class="col-xs-12 remove_left_right_padding">
			    	<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status3.isopen">
						<button type="button" class="btn btn-default form-control" uib-dropdown-toggle ng-disabled="!customers.length">
							<span class="pull-left" ng-init="customerFilter = 'All Customers';">{{customerFilter}}</span>&nbsp;<span
								class="pull-right caret dropdown_caret_in_filter"></span>
						</button>
						<ul uib-dropdown-menu role="menu" class="scrollable-menu"
							aria-labelledby="dropdown_in_filter">
							<li
								ng-click="getTicketslistByCustomer();"
								role="menuitem"><a href="">All Customers</a></li>
							<li ng-repeat = "customer in  customers"
								ng-click="getTicketslistByCustomer(customer);" style="overflow : hidden;text-overflow:ellipsis"><a href="">{{customer.name}} </a></li>
						</ul>
					</div>
				</div>
			</div>
		    <div class="col-xs-3 width_20perc">
		    	<label class="title_in_filter col-xs-12 remove_left_right_padding">Sites</label>
		    	<div class="col-xs-12 remove_left_right_padding">
			    	<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status5.isopen">
						<button type="button" class="btn btn-default form-control" uib-dropdown-toggle ng-disabled="!sites.length">
							<span class="pull-left">{{selectedSite}}</span>&nbsp;<span
								class="pull-right caret dropdown_caret_in_filter"></span>
						</button>
						<ul uib-dropdown-menu role="menu" class="scrollable-menu"
							aria-labelledby="dropdown_in_filter">
							<li
								ng-click="selectedSite = 'All Sites'; getTicketslistBySite();"
								role="menuitem"><a href="">All Sites</a></li>
							<li ng-repeat = "site in  sites"
								ng-click="getTicketslistBySite(site);" style="overflow : hidden;text-overflow:ellipsis"><a href="">{{site.name}} </a></li>
						</ul>
					</div>
				</div>
		    </div>
		    <div class="col-xs-3 width_20perc">
		    	<label class="title_in_filter col-xs-12 remove_left_right_padding">Ticket State</label>
		    	<div class="col-xs-12 remove_left_right_padding">
			    	<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status6.isopen">
						<button type="button" class="btn btn-default form-control" uib-dropdown-toggle>
							<span class="pull-left" ng-init="openticketStatus={id:0,name:'All'}">{{openticketStatus.name}}</span>&nbsp;<span
								class="pull-right caret dropdown_caret_in_filter"></span>
						</button>
						<ul uib-dropdown-menu role="menu"
							aria-labelledby="dropdown_in_filter">
							<li ng-click="getTicketsByStatus({id:0,name:'All'})" role="menuitem"><a href="">All</a></li>
							<li ng-click="getTicketsByStatus({id:1,name:'Open'})" role="menuitem"><a href="">Open</a></li>
							<li ng-click="getTicketsByStatus({id:2,name:'Acknowledged'})" role="menuitem"><a href="">Acknowledged</a></li>
							<li ng-click="getTicketsByStatus({id:3,name:'Assigned'});" role="menuitem"><a href="">Assigned</a></li>
							<li ng-click="getTicketsByStatus({id:4,name:'Restored'});" role="menuitem"><a href="">Restored</a></li>
						</ul>
					</div>
				</div>
		    </div>
		    <div class="col-xs-3 width_20perc" ng-show = "isFTAdmin || isFranchiseAdmin || isCustomerAdmin || isFTOperator">
		    	<label class="title_in_filter col-xs-12 remove_left_right_padding">Assignees</label>
		    	<div class="col-xs-12 remove_left_right_padding">
			    	<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status17.isopen">
						<button type="button" class="btn btn-default form-control" uib-dropdown-toggle>
							<span class="pull-left">{{selectedAssignee.firstName + " " + selectedAssignee.lastName}} </span><span
								class="pull-right caret ticket_details_dropdown_caret"></span>
						</button>
						<ul uib-dropdown-menu role="menu" class="scrollable-menu"
							aria-labelledby="dropdown_in_filter">
							<li ng-click="getTicketsByAssignee()" role="menuitem"><a href="">All Assignees</a></li>
							<li ng-repeat = "assignee in  users"
								ng-click="getTicketsByAssignee(assignee);" style="overflow : hidden;text-overflow:ellipsis"><a href="">{{assignee.firstName + " " + assignee.lastName}} </a></li>
						</ul>
					</div>
				</div>
		    </div>
		</div>
	</div>
	<br>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th>Ticket ID</th>
				<th>Creation Timestamp</th>
				<!-- <th>Sensor</th> -->
				<th>Description</th>
				<th>Ticket Type</th>
				<!-- <th>Status</th> -->
				<th>Customer</th>
				<th>Site/Location</th>
				<th class="min_width_100px">Expected Time</th>
				<th>Ticket State</th>
				<th>Restored Timestamp</th>
				<th>Assigned To</th>
			</thead>
			
			<tbody>
				<tr dir-paginate="ticket in tickets | itemsPerPage: countPerPage"
					total-items="totalTickets" current-page="pagination1.current" pagination-id="openTickets">
					<td> <a ui-sref="common.dashboard.tickets.servicetickets.details({tid : ticket.id})">T{{ticket.id}}</a></td>
					<td>{{ ticket.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
					<!-- <td>{{ ticket.sensor}}</td> -->
					<td ng-if = "ticket.description != null">{{ticket.description}}</td>
					<td ng-if = "ticket.description == null" class="text-center">-</td>
					<td ng-if = "ticket.ticketType != 0">{{ getTicketType(ticket.ticketType).name }}</td>
					<td ng-if = "ticket.ticketType == 0" class="text-center">-</td>
				<!-- 	<td>{{ getStatus(ticket.ticketStatus).name.split('_').join(' '); }}</td> -->
					
					<td ng-if="ticket.customerName !=null">{{ticket.customerName}}</td>
					<td ng-if="ticket.customerName ==null && ticket.referenceName !=null">{{ticket.referenceName}}</td>
					<td ng-if="ticket.customerName ==null && ticket.referenceName ==null" class="text-center">-</td>
					
					<td ng-if = "ticket.siteName == null && ticket.locationName == null" class="text-center">-</td>
					<td ng-if = "ticket.siteName != null && ticket.locationName != null">{{ ticket.siteName }} / {{ ticket.locationName}}</td>
					<td ng-if = "ticket.siteName == null && ticket.locationName != null">- / {{ ticket.locationName}}</td>
					<td ng-if = "ticket.siteName != null && ticket.locationName == null">{{ ticket.siteName }} / -</td>
					<td>{{ ticket.eta}} h</td>
					<td><small class="badge" style="background:{{ticket.selectedColor}}">{{getTicketState(ticket.state,ticket);}}</small></td>
					<td ng-if = "ticket.restoreDate">{{ ticket.restoreDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
					<td class="text-center" ng-if = "!ticket.restoreDate">- </td>
					<td>{{ ticket.assignee}}</td>
				</tr>
				<tr ng-show="!tickets.length"><td colspan="10" class="text-center">No Records Found</td></tr>
			</tbody>
		</table>
	</div>
		<button  csv-header="csvOpenTicketHeaders" ng-csv="updateCsvTickets(true)" lazy-load="true" filename="open_tickets.csv" ng-click="" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-export"></span>Export to CSV
		</button>
		<dir-pagination-controls
		on-page-change="getListOfTickets()"
		template-url="/core/resources/js/Common/templates/dirPagination.html" pagination-id="openTickets"></dir-pagination-controls>
	<!-- <dir-pagination-controls on-page-change="" template-url=""></dir-pagination-controls> -->
	
	<div class="row margin_top_2perc">
		<div class="col-xs-7 subheader">Closed Tickets ({{totalClosedTickets}})
			<a class="refresh toggle" ng-click="closedTicketsFilter=!closedTicketsFilter" style="margin-left: 49px;"><i
					ng-show="closedTicketsFilter" class="glyphicon glyphicon-minus"></i><i
					class="glyphicon glyphicon-plus"
					ng-show="!closedTicketsFilter"></i>FILTERS</a>
		</div>
		<div class="col-xs-5">
			<div class="col-xs-offset-5 col-xs-2 remove_left_right_padding">
				<div class="btn-group dropdown width_100perc" uib-dropdown uib-keyboard-nav is-open="status7.isopen">
					<button id="closed-records-button" type="button"
						class="btn btn-default form-control" uib-dropdown-toggle
						ng-disabled="disabled">
						<span ng-init="closedcountPerPage=10;">{{closedcountPerPage}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span
							class="caret"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="min_width_60perc" aria-labelledby="closed-records-button">
						<li ng-click="closedcountPerPage=10;" role="menuitem"><a href="">10</a></li>
						<li ng-click="closedcountPerPage=20;" role="menuitem"><a href="">20</a></li>
						<li ng-click="closedcountPerPage=50;" role="menuitem"><a href="">50</a></li>
						<li ng-click="closedcountPerPage=100;" role="menuitem"><a href="">100</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-5 remove_right_padding pull-right">
				<div class="input-group">
					<input type="text" class="form-control" name="CTsearch" ng-keyup="fillClosedTicketsTable()" ng-keypress="enterKeyEvent($event,'close')"
						placeholder="Search" ng-model="CTsearch" autofocus>
					<span ng-click="getListOfClosedTickets()" class="input-group-addon search_btn"><i
						class="glyphicon glyphicon-search"></i></span>
				</div>
			</div>
			

		</div>
	</div>
	
	<div class="filterPanel" uib-collapse="!closedTicketsFilter">
	   	<div class="row">
		    <div class="col-xs-3 width_20perc">
		    	<label class="title_in_filter col-xs-12 remove_left_right_padding">Device Types</label>
		   		<div class="col-xs-12 remove_left_right_padding">
			    	<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status8.isopen"
						style="width: 100%">
						<button type="button" class="btn btn-default form-control" uib-dropdown-toggle>
							<span class="pull-left">{{CTSelectedDeviceType.name}}</span>&nbsp;<span
								class="pull-right caret dropdown_caret_in_filter"></span>
						</button>
						<ul uib-dropdown-menu role="menu" aria-labelledby="records-button"
							class="scrollable-menu">
							<li
								ng-click="setCTDeviceType();"
								role="menuitem"><a href="">All Devices</a></li>
							<li ng-repeat="device in deviceTypes"
								ng-click="setCTDeviceType(device);"
								role="menuitem"><a href="">{{device.name}}</a></li>
						</ul>
					</div>
				</div>
		    </div>
		    <div class="col-xs-3 width_20perc"  ng-show="isFTAdmin || isFTSupervisor || isFTCR || isFTOperator">
		    	<label class="title_in_filter col-xs-12 remove_left_right_padding">Customers</label>
		    	<div class="col-xs-12 remove_left_right_padding">
			    	<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status9.isopen">
						<button type="button" class="btn btn-default form-control" uib-dropdown-toggle ng-disabled="!customers.length">
							<span class="pull-left">{{closedCustomerFilter}}</span>&nbsp;<span
								class="pull-right caret dropdown_caret_in_filter"></span>
						</button>
						<ul uib-dropdown-menu role="menu" class="scrollable-menu"
							aria-labelledby="dropdown_in_filter">
							<li
								ng-click="getClosedTicketslistByCustomer();"
								role="menuitem"><a href="">All Customers</a></li>
							<li ng-repeat = "customer in  customers"
								ng-click="getClosedTicketslistByCustomer(customer);" style="overflow : hidden;text-overflow:ellipsis"><a href="">{{customer.name}} </a></li>
						</ul>
					</div>
				</div>
			</div>
		    <div class="col-xs-3 width_20perc">
		    	<label class="title_in_filter col-xs-12 remove_left_right_padding">Sites</label>
		    	<div class="col-xs-12 remove_left_right_padding">
			    	<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status10.isopen"
						style="width: 100%">
						<button type="button" class="btn btn-default form-control" uib-dropdown-toggle ng-disabled="!ctsites.length">
							<span class="pull-left" ng-init="closedSiteFilter = 'All Sites'">{{closedSiteFilter}}</span>&nbsp;<span
								class="pull-right caret dropdown_caret_in_filter"></span>
						</button>
						<ul uib-dropdown-menu role="menu" class="scrollable-menu"
							aria-labelledby="dropdown_in_filter">
							<li
								ng-click="getClosedTicketslistBySite();"
								role="menuitem"><a href="">All Sites</a></li>
							<li ng-repeat = "site in  ctsites"
								ng-click="getClosedTicketslistBySite(site);" style="overflow : hidden;text-overflow:ellipsis"><a href="">{{site.name}} </a></li>
						</ul>
					</div>
				</div>
		    </div>
		     <div class="col-xs-3 width_20perc" ng-show = "isFTAdmin || isFranchiseAdmin || isCustomerAdmin || isFTOperator">
		    	<label class="title_in_filter col-xs-12 remove_left_right_padding">Assignees</label>
		    	<div class="col-xs-12 remove_left_right_padding">
			    	<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status12.isopen">
						<button type="button" class="btn btn-default form-control" uib-dropdown-toggle>
							<span class="pull-left">{{selectedCTAssignee.firstName + " " + selectedCTAssignee.lastName}} </span><span
								class="pull-right caret ticket_details_dropdown_caret"></span>
						</button>
						<ul uib-dropdown-menu role="menu" class="scrollable-menu"
							aria-labelledby="dropdown_in_filter">
							<li ng-click="getClosedTicketsByAssignee()" role="menuitem"><a href="">All Assignees</a></li>
							<li ng-repeat = "assignee in  users"
								ng-click="getClosedTicketsByAssignee(assignee);" style="overflow : hidden;text-overflow:ellipsis"><a href="">{{assignee.firstName + " " + assignee.lastName}} </a></li>
						</ul>
					</div>
				</div>
		    </div>
		  <!--   <div class="col-xs-3">
		    	<label class="title_in_filter">Ticket Status</label>
		    	<div uib-dropdown uib-keyboard-nav is-open="status11.isopen"
					style="width: 100%">
					<button type="button" class="btn btn-default form-control dropdown_in_filter" uib-dropdown-toggle>
						<span class="pull-left">{{closedticketStatus}}</span>&nbsp;<span
							class="pull-right caret dropdown_caret_in_filter"></span>
					</button>
					<ul uib-dropdown-menu role="menu"
						aria-labelledby="dropdown_in_filter">
						<li ng-click="closedticketStatus='All';" role="menuitem"><a href="">ALL</a></li>
						<li ng-click="closedticketStatus='Open';" role="menuitem"><a href="">Open</a></li>
						<li ng-click="closedticketStatus='Resolved';" role="menuitem"><a href="">Resolved</a></li>
					</ul>
				</div>
		    </div> -->
		</div>
	</div>
	<br>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th>Ticket ID</th>
				<th>Closed Timestamp</th>
				<!-- <th>Sensor</th> -->
				<th>Description</th>
				<th>Ticket Type</th>
				<!-- <th>Status</th> -->
				<th>Customer</th>
				<th>Site/Location</th>
				<!-- <th>ETA</th> -->
				<th>Ticket State</th>
				<th>Last Assignee</th>
			</thead>
			
			<tbody>
				<tr dir-paginate="ticket in closedTickets | itemsPerPage: closedcountPerPage"
					total-items="totalClosedTickets" current-page="pagination.currentpage" pagination-id="closedTickets">
					<td> <a ui-sref="common.dashboard.tickets.servicetickets.details({tid : ticket.id})">T{{ ticket.id}}</a></td>
					<td>{{ ticket.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
					<td ng-if = "ticket.description != null">{{ticket.description}}</td>
					<td ng-if = "ticket.description == null" class="text-center">-</td>
					<!-- <td>{{ ticket.sensor.split('.')[0]}}</td> -->
					<!-- By Aruna  -->
					<td ng-if = "ticket.ticketType != 0">{{ getTicketType(ticket.ticketType).name }}</td>
					<td ng-if = "ticket.ticketType == 0" class="text-center">-</td>
					<!-- <td>{{ getStatus(ticket.ticketStatus).name.split('_').join(' '); }}</td> -->
					<td ng-if="ticket.customerName !=null">{{ ticket.customerName}}</td>
					<td ng-if="ticket.customerName ==null" class="text-center">-</td>
					<td ng-if = "ticket.siteName == null && ticket.locationName == null" class="text-center">-</td>
					<td ng-if = "ticket.siteName != null && ticket.locationName != null">{{ ticket.siteName }} / {{ ticket.locationName}}</td>
					<td ng-if = "ticket.siteName == null && ticket.locationName != null">- / {{ ticket.locationName}}</td>
					<td ng-if = "ticket.siteName != null && ticket.locationName == null">{{ ticket.siteName }} / -</td>
					<!-- <td>{{ticket.eta}} h</td> -->
					<td><small class="badge" style="background:{{ticket.selectedColor}}">{{getTicketState(ticket.state,ticket);}}</small></td>
					<td>{{ ticket.assignee}}</td>
				</tr>
				<tr ng-show="!closedTickets.length"><td colspan="8" class="text-center">No Records Found</td></tr>
			</tbody>
		</table>
	</div>
	<button csv-header="csvClosedTicketHeaders" ng-csv="updateCsvTickets(false)" lazy-load="true" filename="closed_tickets.csv" ng-click="" type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-export"></span>Export to CSV
	</button>
	<dir-pagination-controls
		on-page-change="getListOfClosedTickets()"
		template-url="/core/resources/js/Common/templates/dirPagination.html" pagination-id="closedTickets"></dir-pagination-controls>
	
</div>

<script type="text/ng-template" id="openNewServiceTicket.html" >
	<div class="modal-header">
		<span class="modal-title">New Service Ticket<span ng-click="cancel()" class="glyphicon glyphicon-remove pull-right" ></span></span>
	</div>
	<div class="modal-body">
		<form name="openServiceTicket" ng-keypress="enterKeyEvent($event,'create_Service_Tickets')" ng-init="submitted=false;">

		<div class="row form-group">
			<label class="col-xs-3">Ticket type</label>
			<div class="col-xs-9" ng-init = "currentSubtype = {id : 2,name : 'SERVICE'};">
				<div class="btn-group" uib-dropdown class="scrollable-menu" is-open="status52.isopen" style="width: 100%">
					<button id="records-button" type="button"
						class="btn btn-default form-control" uib-dropdown-toggle>
						<span class="pull-left">{{currentSubtype.name}}</span>&nbsp;<span
							class="pull-right caret dropdown_caret_on_newServiceTicket"></span>
					</button>
					<ul uib-dropdown-menu role="menu"
						aria-labelledby="records-button">
						<li ng-click="setTicketType({id : 2,name : 'SERVICE'});"><a href="">SERVICE</a></li>
						<li ng-click="setTicketType({id : 3,name : 'INSTALLATION'});"><a href="">INSTALLATION</a></li>
						<li ng-click="setTicketType({id : 4,name : 'AUDIT'});"><a href="">AUDIT</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--<div class="row form-group">
			<label class="col-xs-3">Related Ticket</label>
			<div class="col-xs-9">
				<div class="btn-group" uib-dropdown is-open="status53.isopen" style="width: 100%">
					<button id="records-button11" type="button"
						class="btn btn-default form-control" uib-dropdown-toggle>
						<span class="pull-left" ng-init = "currentSubtype = {id : 0,name : 'INSTALLATION'};">{{relatedTicket}}</span>&nbsp;<span
							class="pull-right caret dropdown_caret_on_newServiceTicket"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu"
						aria-labelledby="records-button">
						<li ng-click="currentSubtype = {id : 0,name : 'INSTALLATION'}"><a href="">INSTALLATION</a></li>
						<li ng-click="currentSubtype = {id : 1,name : 'AUDIT'}"><a href="">AUDIT</a></li>
						<li ng-click="currentSubtype = {id : 2,name : 'BILLING'}"><a href="">BILLING</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-xs-3">Related Type</label>
			<div class="col-xs-9">
				<div class="btn-group" uib-dropdown is-open="status54.isopen" style="width: 100%">
					<button id="records-button12" type="button"
						class="btn btn-default form-control" uib-dropdown-toggle>
						<span class="pull-left" >{{currentRelatedType.name}}</span>&nbsp;<span
							class="pull-right caret dropdown_caret_on_newServiceTicket"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu"
						aria-labelledby="records-button">
						<li ng-repeat="relatedType in relatedTypes" ng-click="setRelatedType(relatedType)"><a href="">{{relatedType.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-xs-3">Ticket ID</label>
			<div class="col-xs-9">
				<input type="text" class="form-control">
			</div>
		</div>-->
		
		<div class="row form-group" ng-hide="isFTOperator">
			<label class="col-xs-3">Customer*</label>
			<div class="col-xs-9" ng-init="selectedcustomer={name : 'Select Customer'}" ng-class="{ 'has-error' : hasCustomerError == true && submitted == true}">
				<div class="btn-group" uib-dropdown is-open="status55.isopen" style="width: 100%">
					<button id="records-button13" type="button" ng-disabled="!customers.length"
						class="btn btn-default form-control" uib-dropdown-toggle>
						<span class="pull-left">{{selectedcustomer.name}}</span>&nbsp;<span
							class="pull-right caret dropdown_caret_on_newServiceTicket"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu"
						aria-labelledby="records-button">
					<li
							ng-click="setDefaultValues()"
							role="menuitem"><a href="">Select Customer</a></li>
					<li ng-repeat = "customer in  customers"
							ng-click="setCustomer(customer);" style="overflow : hidden;text-overflow:ellipsis"><a href="">{{customer.name}} </a></li>
					</ul>
				</div>
				<p ng-show="hasCustomerError == true && submitted == true"  class="help-block">Customer is required.</p>
			</div>
		</div>
		<div class="row form-group" ng-show="selectedcustomer.id != undefined">
			<label class="col-xs-3">Site*</span></label>
			<div class="col-xs-9" ng-init="selectedsite={name :'Select Site'}" ng-class="{ 'has-error' : hasSiteError == true && submitted == true}">
				<div class="btn-group" uib-dropdown is-open="status85.isopen" style="width: 100%">
					<button id="records-button56" type="button"  ng-disabled="!sites.length" 
						class="btn btn-default form-control" uib-dropdown-toggle>
						<span class="pull-left">{{selectedsite.name}}</span>&nbsp;<span
							class="pull-right caret dropdown_caret_on_newServiceTicket"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu"
						aria-labelledby="records-button">
					<li
							ng-click="setdeafultSiteName({name:'Select Site'}); " 
							role="menuitem"><a href="">Select Site</a></li>
					<li ng-repeat="site in  sites" ng-click="setSite(site)" style="overflow: hidden; text-overflow: ellipsis"><a href="">{{site.name}}</a></li>
					</ul>
				</div>
				<p ng-show="hasSiteError == true && submitted == true"  class="help-block">Site is required.</p>
			</div>
		</div>
		<div class="row form-group" ng-show="selectedsite.id != undefined && currentSubtype.id != 4">
			<label class="col-xs-3">Location</label>
			<div class="col-xs-9" ng-init="currentLocation={locationName : 'Select Location'}">
				<div class="btn-group" uib-dropdown is-open="status7.isopen" style="width: 100%">
					<button id="records50" type="button" ng-disabled="!locations.length"
						class="btn btn-default form-control" uib-dropdown-toggle>
						<span class="pull-left">{{currentLocation.locationName}}</span>&nbsp;<span
							class="pull-right caret dropdown_caret_on_newServiceTicket"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu"
						aria-labelledby="records-button">
					<li
							ng-click="currentLocation={locationName :'Select Location'}"
							role="menuitem"><a href="">Select Location</a></li>
					<li ng-repeat="location in  locations" ng-click="setSelectedLocation(location);" style="overflow: hidden; text-overflow: ellipsis"><a href="">{{location.locationName}}</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row form-group" ng-show="currentLocation.id != undefined && currentSubtype.id != 4">
			<label class="col-xs-3">Device</label>
			<div class="col-xs-9" ng-init="currentDevice={name : 'Select Device'}">
				<div class="btn-group" uib-dropdown is-open="status75.isopen" style="width: 100%">
					<button id="records56" type="button" ng-disabled="!siteInventories.length"
						class="btn btn-default form-control" uib-dropdown-toggle>
						<span class="pull-left">{{currentDevice.name}}</span>&nbsp;<span
							class="pull-right caret dropdown_caret_on_newServiceTicket"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu"
						aria-labelledby="records-button">
					<li
							ng-click="currentDevice={name :'Select Device'}"
							role="menuitem"><a href="">Select Device</a></li>
					<li ng-repeat="device in  siteInventories" ng-click="setSelectedDevice(device);" style="overflow: hidden; text-overflow: ellipsis"><a href="">{{device.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		
		<!--<div class="row form-group">
			<label class="col-xs-3">Serial Number</label>
			<div class="col-xs-9">
				<input type="text" class="form-control">
			</div>
		</div>-->
		<div class="row form-group">
			<label class="col-xs-3">Comment*</label>
			<div class="col-xs-9" ng-class="{'has-error': openServiceTicket.comment.$error.required && submitted==true }">
				<textArea class="form-control" maxlength=500 ng-model="comment" name="comment" required></textArea>
				<p ng-show="openServiceTicket.comment.$error.required && submitted==true" class="help-block">Comment is required.</p>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-xs-3">Description</label>
			<div class="col-xs-9">
				<textArea class="form-control" maxlength=500 ng-model="description" name="description"></textArea>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-xs-3">Assigned To*</label>
			<div class="col-xs-9">
				<div class="btn-group" uib-dropdown is-open="status58.isopen"
						style="width: 100%">
						<button id="records-button16" type="button" ng-disabled="!users.length"
							class="btn btn-default form-control" uib-dropdown-toggle>
							<span class="pull-left">{{selecteduser.firstName}} {{selecteduser.lastName}}</span>&nbsp;<span
								class="pull-right caret dropdown_caret_on_newServiceTicket"></span>
						</button>
						<ul uib-dropdown-menu role="menu" aria-labelledby="records-button" class="scrollable-menu">
							<li ng-repeat="user in  users" class="elipsis" ng-click="setSelectedUser(user)"><a href="">{{user.firstName}} {{ user.lastName }}</a></li>
						</ul>
					</div>
				<p ng-if="!users.length && submitted==true" class="haserror">No FT operator found. There should be at least one operator.</p>
			</div>
		</div>

		<div class="row form-group">
			<label class="col-xs-3">Expected Time*</label>
			<div class="col-xs-9" data-tip="Expected Time in Hours" ng-class="{ 'has-error' : (openServiceTicket.eta.$error.pattern && submitted==true) || (openServiceTicket.eta.$error.required && submitted==true)}">
				<input type="text" ng-pattern="/^[1-9][0-9]*$/" maxlength = 8 class="form-control" ng-model="eta" name="eta" placeholder="Expected Time in Hours" required>
				<p ng-show="openServiceTicket.eta.$error.pattern && submitted==true"  class="help-block">Invalid Expected Time.</p>
				<p ng-show="openServiceTicket.eta.$error.required && submitted==true"  class="help-block">Expected Time is required.</p>
			</div>
			
		</div>
	</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="button" ng-click="ok('create_Service_Tickets');">Add</button>
	</div>
</script>