<div>
	<div class="row">
		<div class="col-xs-6 title">All Customers ({{totalCustomers}})</div>
		<div class="pull-right col-xs-6">
		

		
			<div class="col-xs-5 remove_right_padding pull-right">
				<div class="input-group">
					<input type="text" class="form-control" name="search" ng-keyup="fillCustomersTable()" ng-keypress="enterKeyEvent($event,'ALL_Customers')"
						placeholder="Search" ng-model="keyword" autofocus>
					<span ng-click='getCustomersBySearch(1)' class="input-group-addon search_btn"><i
						class="glyphicon glyphicon-search"></i></span>
				</div>
			</div>
			

		</div>
	</div>

	<br>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th >Customers<span
					class="glyphicon sort-icon" ng-show="sortKey=='Name'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
				<th>Sites</th>
				<th>Open Tickets</th>
				<th>FAS</th>
				<th>FES</th>
				<th>HSS</th>
			</thead>
			
			<tbody>
				<tr dir-paginate="customer in customers | itemsPerPage: countPerPage"
					total-items="totalCustomers" current-page="pagination.current">
					<td><a ui-sref='common.dashboard.customers.customerdetails({id : customer.id,name : customer.name})'>{{customer.name}}</a></td>
					<td>{{customer.totalSites}}</td>
					<td>{{customer.openTickets}}</td>
					<td>{{(getCount(customer.inventory,5))?(getCount(customer.inventory,5)):'-'}}</td>
					<td>{{(getCount(customer.inventory,3))?(getCount(customer.inventory,3)):'-'}}</td>
					<td>{{(getCount(customer.inventory,4))?(getCount(customer.inventory,4)):'-'}}</td>
				</tr>
				<tr ng-show="!customers.length"><td colspan="8" class="text-center">No Records Found</td></tr>
			</tbody>
		</table>
	</div>
		<button type="button" csv-header="csvHeaders" ng-csv="csvCustomers" filename="customers.csv" class="btn btn-default">
		<span class="glyphicon glyphicon-export"></span>Export to CSV
	</button>
	<dir-pagination-controls
		on-page-change="getCustomers(newPageNumber)"
		template-url="/core/resources/js/Common/templates/dirPagination.html"></dir-pagination-controls>
</div>
