<div ng-controller="manageusersCtrl">
	<div class="row">
		<div class="col-xs-6 title">Manage Users</div>
		<div class="pull-right col-xs-6">
			<div class=" col-xs-5" style="padding-right: 0%; text-align: right">

				<div class="btn-group" uib-dropdown uib-keyboard-nav is-open="status2.isopen" ng-show="isFTUsers">
					<button id="records-button" type="button"
						class="btn btn-default form-control" uib-dropdown-toggle
						ng-disabled="disabled">
						<span>{{customerFilter}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span
							class="caret"></span>
					</button>
					<ul uib-dropdown-menu  class="scrollable-menu" role="menu" aria-labelledby="records-button">
					<!-- All customers referance id = 0; ref type 2-->
					<li
							ng-click="customerFilter = 'Select Customer';refId = 0; getUsers();"
							role="menuitem"><a href="">Select Customer</a></li>
						<li
							ng-click="customerFilter = 'All Customers';refId = 0; getUserslistByCustomer();"
							role="menuitem"><a href="">All Customers</a></li>
						<li ng-repeat = "customer in  customers"
							ng-click="getUserslistByCustomer(customer);" style="overflow : hidden;text-overflow:ellipsis"><a href="">{{customer.name}} </a></li>
					</ul>
				</div>
			</div>

			<div class="col-xs-2 remove_right_padding">
				<div class="btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status1.isopen">
					<button id="records-button" type="button"
						class="btn btn-default form-control" uib-dropdown-toggle
						ng-disabled="disabled">
						<span>{{countPerPage}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span
							class="caret"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu min_width_60perc" aria-labelledby="records-button">
						<li ng-click="countPerPage=10; getUsersByFilter(10);" role="menuitem"><a href="">10</a></li>
						<li ng-click="countPerPage=20; getUsersByFilter(20);" role="menuitem"><a href="">20</a></li>
						<li ng-click="countPerPage=50; getUsersByFilter(50);" role="menuitem"><a href="">50</a></li>
						<li ng-click="countPerPage=100; getUsersByFilter(100);" role="menuitem"><a href="">100</a></li>
					</ul>
				</div>
			</div>

			<div class="col-xs-5 remove_right_padding">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="search" name="search"  ng-keyup="fillUsersTable()" ng-keypress="enterKeyEvent($event,'Manage_Users')"
						placeholder="Search"  required autofocus>
					<span class="input-group-addon search_btn"><i ng-click="getUsersBySearch(1);"
						class="glyphicon glyphicon-search"></i></span>
				</div>
			</div>

		</div>
	</div>

	<br>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th ng-click="sort('Name')" class="firstTh">User Name<span
					class="glyphicon sort-icon" ng-show="sortKey=='Name'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
				<th>Email Id</th>
				<th ng-hide="isFranchiseAdmin">Customer Name</th>
				<th ng-hide="isCustomerAdmin">Franchisee Name</th>
				<th>Role</th>
				<th>Created On</th>
				<th class="actions_column">Actions</th>
			</thead>
			<tbody>
				<tr dir-paginate="user in users | itemsPerPage: countPerPage"
					total-items="totalUsers" current-page="pagination.current">
					<td>{{user.firstName + " " + user.lastName}}</td>
					<td>{{user.email}}</td>
					<td ng-hide="isFranchiseAdmin" ng-if = "user.customerName ==''">-</td>
					<td ng-hide="isFranchiseAdmin" ng-if = "user.customerName !=''">{{user.customerName}}</td>
					<td ng-hide="isCustomerAdmin"  ng-if = "user.franchiseName ==''">-</td>
					<td ng-hide="isCustomerAdmin"  ng-if = "user.franchiseName !=''">{{user.franchiseName}}</td>
					<td ng-bind="formatRoleString(user.roleName)"></td>
					<td>{{user.createDate | date:'dd/MM/yyyy'}}</td>
					<td>
							<button  ng-disabled="hideSelf(user.id)"
							ng-click="open('md','editUser.html',user,getUsersBySearch,$event);"
							class="btn btn-default"><span class="glyphicon glyphicon-edit"></span>Edit</button>
							<button  ng-disabled="hideSelf(user.id)"
							ng-click="open('md','deleteUser.html',user,getUsersBySearch,$event);"
							class="btn btn-default margin_left_2perc"><span class="glyphicon glyphicon-trash"></span>Delete</button></td>
						
				</tr>
				<tr ng-show="!users.length"><td colspan="7" class="text-center">No Records Found</td></tr>
			</tbody>
		</table>
	</div>
	<div class="margin_top_2perc" >
	<button type="button" class="btn btn-default"
		ng-click="open('md','addNewUser.html','',refreshUsersTable,$event);">
		<span class="glyphicon glyphicon-plus"></span>Add New User
	</button>
	<dir-pagination-controls
		on-page-change="getUsersByFilter();"
		template-url="/core/resources/js/Common/templates/dirPagination.html"></dir-pagination-controls>
</div>
</div>
<script type="text/ng-template" id="addNewUser.html" >
	<div class="modal-header" ng-init="isShowCustomerNames=false;isShowFranchiseNames=false">
		<span class="modal-title">Add New User<span ng-click="cancel()" class=" glyphicon glyphicon-remove pull-right" ></span></span>
	</div>
	<div class="modal-body">
		<form  name="addNewUser" ng-keypress="enterKeyEvent($event,'ADD_USER')" ng-init="submitted=false;">
		<div class="row form-group">
			<label class="col-xs-3">First Name*</label>
			<div class="col-xs-9" ng-class="{ 'has-error' : (addNewUser.firstName.$error.pattern && submitted==true) || (addNewUser.firstName.$error.required  && submitted==true) }">
				<input type="text"  ng-pattern="/^[a-zA-Z\s]*$/" name="firstName" class="form-control elipsis" maxlength=100 ng-model="firstName" required autofocus>
				<p ng-show="(addNewUser.firstName.$error.required  && submitted==true)" class="help-block">First name is required.</p>
				<p ng-show="addNewUser.firstName.$error.pattern  && submitted==true"  class="help-block">Invalid first name.</p>
			</div>
		</div>

		<div class="row form-group">
			
			<label class="col-xs-3"> Last Name* </label>
			
			<div class="col-xs-9" ng-class="{ 'has-error' : (addNewUser.lastName.$error.pattern  && submitted==true) ||  (addNewUser.lastName.$error.required && submitted==true)}">
				<input type="text"  ng-pattern="/^[a-zA-Z\s]*$/" maxlength=100 name="lastName" class="form-control elipsis" ng-model="lastName" required>
				<p ng-show="(addNewUser.lastName.$error.required && submitted==true)" class="help-block">Last name is required.</p>
				<p ng-show="(addNewUser.lastName.$error.pattern  && submitted==true)"  class="help-block">Invalid last name.</p>
			</div>		
		</div>

		<div class="row form-group">
			<label class="col-xs-3"> Email*</label>
			<div class="col-xs-9" ng-class="{ 'has-error' : (addNewUser.email.$error.pattern && submitted==true) || (addNewUser.email.$error.required && submitted==true)}">
				<input type="text" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  name="email"  class="form-control" ng-model="email"  maxlength=50 required>
				<p ng-show="(addNewUser.email.$error.required && submitted==true)"  class="help-block">Email is required.</p>
				<p ng-show="(addNewUser.email.$error.pattern && submitted==true)"  class="help-block">Invalid email.</p>
			</div>
		</div>
		
		<div class="row form-group">
			<label class="col-xs-3"> Contact Number</label>
			<div class="col-xs-9" ng-class="{ 'has-error' : (addNewUser.cellPhone.$error.pattern && submitted==true) || (addNewUser.cellPhone.$error.minlength && submitted==true) || (addNewUser.cellPhone.$error.maxlength && submitted==true)}">
				<input type="text"  name="cellPhone"  ng-pattern="/^[0-9]*$/"  class="form-control" ng-model="cellPhone" minlength=10 maxlength=16>
				<p ng-show="addNewUser.cellPhone.$error.minlength && submitted==true && !addNewUser.cellPhone.$error.pattern" class="help-block">Contact number must have at least 10 digits.</p>
				<p ng-show="addNewUser.cellPhone.$error.pattern && submitted==true" class="help-block">Invalid contact number.</p>
				<p ng-show="addNewUser.cellPhone.$error.maxlength && submitted==true && !addNewUser.cellPhone.$error.pattern" class="help-block">Contact number must have at most 16 digits.</p>
			</div>
		</div>

		<div class="row form-group" ng-show="showUserType">
			<label class="col-xs-3">Users Type*</label>
			<div class="col-xs-9">

				<div class="dropdown btn-group width_100perc" uib-dropdown uib-keyboard-nav is-open="status1.isopen">
					<button id="records-button" type="button"
						class="form-control" uib-dropdown-toggle 
						ng-disabled="disabled">
						<span class="pull-left">{{userType.name}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-right caret margin_top_2perc"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu" aria-labelledby="records-button">
						<li ng-repeat="userTypeItr in userTypes"><a href="" ng-click="changeUserType(userTypeItr)">{{userTypeItr.name}}</a></li>
					</ul>
				</div>
			</div>


		</div>
		<div class="row form-group">
			<label class="col-xs-3"> Role* </label>
			<div class="col-xs-9">
				<div uib-dropdown uib-keyboard-nav is-open="status2.isopen">
					<button id="records-button" type="button"
						class="form-control" uib-dropdown-toggle
						ng-disabled="disabled">
						<span class="pull-left">{{currentRole.role}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-right caret margin_top_2perc"></span>
					</button>
					<ul uib-dropdown-menu class="scrollable-menu" role="menu" aria-labelledby="records-button">
						<li ng-repeat="rolesItr in roles"><a href="" ng-click="changeCurrentRole(rolesItr)">{{rolesItr.role}}</a></li>
					</ul>
				</div>

			</div>
		</div>
		
		<div class="row form-group" ng-show="isShowCustomerNames">
			<label class="col-xs-3">Customer Names*</label>
			<div class="col-xs-9">

				<div  uib-dropdown uib-keyboard-nav is-open="status3.isopen">
					<button id="records-button" type="button"
						class="form-control" uib-dropdown-toggle
						ng-disabled="isCustomersNotFound">
						<span class="pull-left">{{currentCustomer.name}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-right caret margin_top_2perc"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu" aria-labelledby="records-button">
						<li ng-repeat="customer in customers"><a href="" ng-click="changeCustomerName(customer)">{{customer.name}}</a></li>
					</ul>
				</div>
				<p ng-if="isCustomersNotFound && submitted==true" class="haserror"> No customer found. Please add at least one customer.</p>
			</div>
			</div> 

			<div class="row form-group" ng-show="isShowFranchiseNames">
			<label class="col-xs-3">Franchisee Names*</label>
			<div class="col-xs-9">

				<div  uib-dropdown uib-keyboard-nav is-open="status4.isopen">
					<button id="records-button" type="button"
						class="form-control" uib-dropdown-toggle
						ng-disabled="isFranchiseesNotFound">
						<span class="pull-left">{{currentFranchise.name}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-right caret margin_top_2perc"></span>
					</button>
					<ul uib-dropdown-menu class="scrollable-menu" role="menu" aria-labelledby="records-button">
						<li ng-repeat="franchise in franchises"><a href=""  ng-click="changeFranchiseName(franchise)">{{franchise.name}}</a></li>
					</ul>
				</div>
				<p ng-if="isFranchiseesNotFound && submitted==true" class="haserror"> No franchisee found. Please add at least one franchisee.</p>
			</div>
			</div>

	</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="button" ng-click="ok('ADD_USER')">Add</button>
	</div>
</script>
<script type="text/ng-template" id="editUser.html">
	<div class="modal-header">
		<div class="row">
			<div class="col-xs-10 pull-left elipsis">
				<span class="modal-title" >Edit User - {{data.data.firstName + " " + data.data.lastName}}</span>
			</div>
			<div class="col-xs-2 modal-title pull-right ">
				<span ng-click="cancel()" class="glyphicon glyphicon-remove pull-right" ></span>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<form name="editUser" ng-keypress="enterKeyEvent($event,'EDIT_USER')" ng-init="submitted=false;">
		<div class="row form-group">
			<label class="col-xs-3">First Name*</label>
			<div class="col-xs-9"  ng-class="{ 'has-error' : (editUser.firstName.$error.pattern  && submitted==true) ||  (editUser.firstName.$error.required && submitted==true)}">
				<input type="text" ng-pattern="/^[a-zA-Z\s]*$/" maxlength=100 name="firstName" class="form-control  elipsis" ng-model="firstName" required autofocus>
				<p ng-show="(editUser.firstName.$error.pattern  && submitted==true)"  class="help-block">Invalid first name.</p>
				<p ng-show="(editUser.firstName.$error.required && submitted==true)"  class="help-block">First name is required.</p>
			</div>
		</div>

		<div class="row form-group">
			
			<label class="col-xs-3"> Last Name*</label>
			
			<div class="col-xs-9"  ng-class="{ 'has-error' : (editUser.lastName.$error.pattern  && submitted==true) ||  (editUser.lastName.$error.required  && submitted==true) }">
				<input type="text"  ng-pattern="/^[a-zA-Z\s]*$/" maxlength=100 name="lastName" class="form-control elipsis" ng-model="lastName" required>
				<p ng-show="(editUser.lastName.$error.pattern  && submitted==true)"  class="help-block">Invalid last name.</p>
				<p ng-show="(editUser.lastName.$error.required  && submitted==true)"  class="help-block">Last name is required.</p>
			</div>
		</div>

		<div class="row form-group">
			<label class="col-xs-3"> Email*</label>
			<div class="col-xs-9">
				<label><span type="text" name="email" ng-model="email">{{email}}</span></label>
			</div>
		</div>

			<div class="row form-group">
			<label class="col-xs-3"> Password</label>
			<div class="col-xs-9"ng-class="{ 'has-error':(editUser.newPassword.$error.pattern  && submitted==true) || (editUser.newPassword.$error.minlength && !editUser.newPassword.$error.pattern && submitted==true) }" >
 				<input type="password" class="form-control" maxlength=100 name="newPassword" ng-model="newPassword"  minlength=7 ng-pattern="/^\S*$/" >
				<p ng-show="(editUser.newPassword.$error.pattern  && submitted==true)"  class="help-block">Invalid password.</p>
				<p ng-show="(editUser.newPassword.$error.minlength  && submitted==true && !editUser.newPassword.$error.pattern )"  class="help-block">Password must have at least 7 characters.</p>
		</div>
		</div>
		
		<div class="row form-group">
			<label class="col-xs-3"> Confirm Password</label>
			<div class="col-xs-9" ng-class="{ 'has-error':!editUser.confirmPassword.$valid && submitted==true}">
				<input type="password" maxlength=100 class="form-control" name="confirmPassword" ng-model="confirmPassword" compare-to="newPassword" ng-required="newPassword.length >= 7 && !editUser.newPassword.$error.pattern">
				<p ng-show="editUser.confirmPassword.$error.required && submitted==true"  class="help-block">Please enter the confirm password.</p>
				<p ng-show="editUser.confirmPassword.$error.compareTo && submitted==true && !editUser.confirmPassword.$error.required"  class="help-block">Passwords do not match.</p>
			</div>
		</div>

			<div class="row form-group">
			<label class="col-xs-3"> Contact Number</label>
			<div class="col-xs-9" ng-class="{ 'has-error' : (editUser.cellPhone.$error.pattern && submitted==true) || (editUser.cellPhone.$error.minlength && submitted==true && !addNewUser.cellPhone.$error.pattern) }">
				<input type="text" name="cellPhone" class="form-control" ng-pattern="/^[0-9]*$/" ng-model="cellPhone" minlength=10 maxlength=16>
				<p ng-show="editUser.cellPhone.$error.minlength && submitted==true && !addNewUser.cellPhone.$error.pattern" class="help-block">Contact number must have at least 10 digits.</p>
				<p ng-show="editUser.cellPhone.$error.pattern && submitted==true" class="help-block">Invalid contact number.</p>
			</div>
		</div>


		<div class="row form-group">
			<label class="col-xs-3"> Role*</label>
			<div class="col-xs-9">
				<div uib-dropdown uib-keyboard-nav is-open="status2.isopen">
					<button id="records-button" type="button"
						class="form-control" uib-dropdown-toggle
						ng-disabled="disabled">
						<span class="pull-left">{{currentRole.role}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="caret pull-right margin_top_2perc"></span>
					</button>
					<ul uib-dropdown-menu class="scrollable-menu" role="menu" aria-labelledby="records-button">
						<li ng-repeat="rolesItr in roles"><a href="" ng-click="changeCurrentRole(rolesItr)">{{rolesItr.role}}</a></li>
					</ul>
				</div>

			</div>
		</div>
		<div class="row form-group" ng-show="isShowCustomerNames">
			<label class="col-xs-3">Customer Names*</label>
			<div class="col-xs-9">

				<div  uib-dropdown uib-keyboard-nav is-open="status3.isopen">
					<button id="records-button" type="button"
						class="form-control" uib-dropdown-toggle
						ng-disabled="isCustomersNotFound">
						<span class="pull-left">{{currentCustomer.name}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-right caret margin_top_2perc"></span>
					</button>
					<ul uib-dropdown-menu role="menu" class="scrollable-menu" aria-labelledby="records-button">
						<li ng-repeat="customer in customers"><a href="" ng-click="changeCustomerName(customer)">{{customer.name}}</a></li>
					</ul>
				</div>
			</div>
			</div> 

			<div class="row form-group" ng-show="isShowFranchiseNames">
			<label class="col-xs-3">Franchisee Names*</label>
			<div class="col-xs-9">

				<div  uib-dropdown uib-keyboard-nav is-open="status4.isopen">
					<button id="records-button" type="button"
						class="form-control" uib-dropdown-toggle
						ng-disabled="isFranchiseesNotFound">
						<span class="pull-left">{{currentFranchise.name}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-right caret margin_top_2perc"></span>
					</button>
					<ul uib-dropdown-menu class="scrollable-menu" role="menu" aria-labelledby="records-button">
						<li ng-repeat="franchise in franchises"><a href=""  ng-click="changeFranchiseName(franchise)">{{franchise.name}}</a></li>
					</ul>
				</div>
			</div>
			</div>
	</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="button"  ng-click="ok('EDIT_USER')">Save</button>
	</div>
	</script>
<script type="text/ng-template" id="deleteUser.html">
	<div class="modal-header">
		<div class="row">
			<div class="col-xs-10 pull-left elipsis">
				<span class="modal-title" >Delete User- {{data.data.firstName + " " + data.data.lastName}}</span>
			</div>
			<div class="col-xs-2 modal-title pull-right ">
				<span ng-click="cancel()" class="glyphicon glyphicon-remove pull-right" ></span>
			</div>
		</div>
	</div>
	<form name="deleteUser" ng-init="submitted=false;">
	<div class="modal-body">
		<label>Do you really want to Delete?</label>
	</div>
	<div class="modal-footer">
		<button style="width:12%" class="btn btn-default" type="button" ng-click="cancel()">No</button>
		<button class="btn btn-primary" type="button" ng-click="ok('DELETE_USER')">Yes</button>
	</div>
	</form>
	</script>